.footer {
	padding-top: 65px;
	padding-bottom: 70px;

	@screen md {
		padding-top: 121px;
		padding-bottom: 141px;		
	}

	h2 {
		margin-bottom: 12px;

		@screen md {
			margin-bottom: 27px;			
		}

		@apply text-red-700 font-light leading-none;

		font-size: 2.6rem;
	}

	h3 {
		margin-bottom: 7px;
	}

	p {
		@apply text-sm font-body leading-normal;
	}

	.limited-width {
		max-width: 450px;
	}

	.contact-info {
		margin-top:  35px;
		margin-bottom: 80px;
		float: left;
		width: 100%;

		@screen md {
			margin-top:  70px;			
			margin-bottom: 0;
		}

		a {
			@apply font-body text-green-800 font-bold;

			font-size: 1.375rem;
			line-height: 1.14;
		}

		> div {
			float: left;
			width: 100%;

			&:not(:last-child) {
				margin-bottom: 25px;
			}

			.icon {
				float: left;
				margin-right: 23px;
				width: 30px;
				text-align: center;

				@screen md {
					margin-right: 25px;
				}

				img {
					display: inline-block;
				}
			}

			div:not('.icon') {
				float: left;
			}

			&.mail {
				.icon {
					margin-top: 7px;
				}
			}
		}
	}

	.footer-logo {
		margin-top: 32px;

		@screen md {
			margin-top: 50px;			
		}

		img {
			width: 197px;
		}
	}
}