.footer {
	padding-top: 121px;
	padding-bottom: 141px;

	h4 {
		margin-bottom: 7px;
	}

	p {
		@apply text-sm font-body leading-normal;
	}

	.contact-info {
		margin-top:  60px;

		a {
			@apply font-body-condensed text-green-800 font-bold;

			font-size: 1.375rem;
		}

		> div {
			float: left;
			width: 100%;

			&:not(:last-child) {
				margin-bottom: 25px;
			}

			.icon {
				float: left;
				margin-right: 23px;
				width: 30px;
				text-align: center;

				img {
					display: inline-block;
				}
			}

			div:not('.icon') {
				float: left;
			}

			&.tel {
				.icon {
					margin-top: 4px;
				}
			}

			&.mail {
				.icon {
					margin-top: 9px;
				}
			}
		}
	}

	.footer-logo {
		margin-top: 50px;
	}
}