.lp-privacy-container {
    top: auto !important;
    bottom: 0 !important;
    background: white !important;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.4) !important;
    padding: 23px 0 26px !important;
    position: fixed !important;
    z-index: 1000 !important;

    @screen lg {
    	padding: 10px 0 !important;
    }

    .lp-banner-panel {
    	margin: 0 !important;
    	padding: 0 !important;

    	p {
			line-height: 1.43;
			font-size: 0.875rem;
			font-weight: normal;

			@apply font-body text-black text-left;
		}

		@screen lg {
			line-height: 2.14;
		}

    	a {
    		transition: all 0.3s;

    		@apply text-green-800;
    	}
    }

    .button {
    	min-width: 152px !important;
    	text-align: center !important;
    	padding: 14px 45px 16px !important;
    	margin-top: 21px;

    	@screen lg {
    		margin-top: 0;
    	}
    }
}

.column {
    padding: 0 30px;

    &.extra-padding {
        @screen lg {
        	padding: 0 80px;
        }
    }

    &.extra-padding-lg {
        padding: 0 118px;
    }
}

.container {
	@media (max-width: 1024px) {
		max-width: 100% !important;
	}
}

.sm-container {
    max-width: 1140px;
}

.transform-translate-y-1\/2 {
    transform: translateY(-50%);
}

.cover-img {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover; object-position: bottom;';
    }
}